<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Lista Recicladoras</ion-title>
    <ion-progress-bar *ngIf="cargandoRecicladoras" type="indeterminate" color="secondary"></ion-progress-bar>
    <ion-button routerLink="/inicio" fill="clear" id="inicio" color="primary" slot="end">
      <ion-icon name="home-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="text-align: justify;">

  <ion-refresher slot="fixed" (ionRefresh)="cargarRecicladoras()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <p>Estas son las Recicladoras con las que cuenta ECOMAPS.</p>

  <ion-list>

    <ion-item *ngFor="let recicladora of listaRecicladoras" class="item-espaciado">
      <ion-label>
        <ion-badge color="tertiary" slot="start">
          <ion-icon name="bookmark-outline"></ion-icon>
        </ion-badge>
        <h1>{{ recicladora.nombre_rec }}</h1>
        <p>{{ recicladora.ciudad }}. {{ recicladora.barrio }}</p>
        <p>{{ recicladora.calle }}</p>
        <p>¿Ofrece remuneración?: {{ recicladora.paga }}</p>
        <div class="boton-ionic">
          <ion-button href="{{ recicladora.gps }}" color="tertiary">
            <ion-icon name="arrow-redo-outline" slot="end"></ion-icon>
            Google Maps
          </ion-button>
        </div>
      </ion-label>
           
    </ion-item>
  
  </ion-list>

  <p>Si conoce de otras recicladoras en<br>
     la ciudad puede enviar sus datos<br>
     a través del formulario.</p>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="nuevo()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="modalVisible" (didDismiss)="modalVisible = false">
    <ng-template>

      <ion-header>
        <ion-toolbar>
          <ion-title>Enviar Recicladora</ion-title>
          <ion-buttons slot="end" (click)="modalVisible = false">
            <ion-button>Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div style="padding: 10px;">
          <app-formulario></app-formulario>
        </div>

      </ion-content>

    </ng-template>
  </ion-modal>
  
</ion-content>
