#container {
    text-align: center;
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;  
    color: black;  
    margin: 10px 10px 10px 10px;
    white-space: normal;
  }
  
  #container a {
    text-decoration: none;
  }
  ion-button{
    --background: whitesmoke; ////#5f77ed  #8ae2cc
    --color:  black;
  }
.boton-ionic{
  text-align: right;
}
.item-espaciado{
  margin-top: 15px;
  margin-bottom: 15px;
}
#center{
  text-align: center;
}
#inicio{
  --background:none;
}
#container{
  --background: #8ae2cc;
}
h1{
  color:#867beb;
  font-size: 20px;
  font-weight: bold;
  white-space: normal;
}