<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Comentarios</ion-title>
    <ion-button routerLink="/inicio" fill="clear" id="inicio" color="primary" slot="end">
      <ion-icon name="home-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" style="text-align: justify;">

  <ion-refresher slot="fixed" (ionRefresh)="cargarComentarios()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <form [formGroup]="form">
      <ion-list>
        <ion-item fill="outline" class="item-espaciado">
          <ion-label position="stacked">Déjenos una sugerencia :)</ion-label>
          <ion-textarea inputmode="text" formControlName="comentarioCtrl" autoGrow="true"></ion-textarea>
          <ion-note slot="error" *ngIf="form.controls.comentarioCtrl.touched">No es posible enviar un campo vacío.</ion-note>
        </ion-item>
      </ion-list>

      <div id="center">
        <ion-button (click)="guardar()">ENVIAR</ion-button>
        <ion-button type="reset">CANCELAR</ion-button>
      </div>
    </form>

</ion-content>
