<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login Administrador</ion-title>
    <ion-progress-bar *ngIf="" type="indeterminate" color="secondary"></ion-progress-bar>
    <ion-button routerLink="/inicio" fill="clear" id="inicio" slot="end">
      <ion-icon name="home-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="recargarLogin()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <form [formGroup]="form">
        <ion-item class="item-espaciado">
          <ion-label position="floating">Nro. Documento</ion-label>
          <ion-input inputmode="number" formControlName="ci"  [clearInput]="true"></ion-input>
          <ion-note slot="error" *ngIf="form.get('ci').invalid && form.get('ci').dirty">Ingrese el nro. de documento.</ion-note>
        </ion-item>
        <ion-item class="item-espaciado">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"  [clearInput]="true"></ion-input>
          <ion-note slot="error" *ngIf="form.get('password').invalid && form.get('password').dirty">Ingrese la contraseña.</ion-note>
        </ion-item>
        <ion-button expand="full" shape="round" (click)="iniciarSesion()">
          <ion-icon name="save" slot="start"></ion-icon>
          Login
        </ion-button>   
  </form>
  
</ion-content>
