ion-item.seleccionado{
    --background: rgba(var(--ion-color-primary-rgb), 0.15);
    --color: var(--ion-color-primary);
}
ion-item.seleccionado ion-icon{
    color: var(--ion-color-primary);
}

ion-item {
  --transition: none;
}