ion-item.seleccionado{
    --background: rgba(var(--ion-color-primary-rgb), 0.15);
    --color: var(--ion-color-primary);
}
ion-item.seleccionado ion-icon{
    color: var(--ion-color-primary);
}

  /* Optional CSS, this is added for the flashing that happens when toggling between themes */
  ion-item {
    --transition: none;
  }