.boton-ionic{
  text-align: right;
}
.ciudad{
  font-weight: bold;
  color: #867beb;
  font-size:larger;
}
ion-button{
  --background: whitesmoke;
  --color:  black;
}
#inicio{
  --background:none;
}

ion-list{
  background: #72d1b9; //#50bcdd #8ae2cc #72d1b9
}
ion-content{
  --background: #72d1b9;
}
ion-item {
  --background: white;
  --color: #fff;
  --width:min-content;
  padding: 10px 10px 10px 10px;
}
item-espaciado{
  margin-top: 15px;
  margin-bottom: 15px;
}
h1{
  color:#867beb;
  font-size: 20px;
  font-weight: bold;
  white-space: normal;
}
p{
  color: black;
  white-space: normal;
}

