<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recicladoras</ion-title>
    <ion-progress-bar *ngIf="cargandoRecicladoras" type="indeterminate" color="secondary"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let recicladoras of listaRecicladoras ">
      <ion-note color="secondary" slot="start">{{ recicladoras.idrecicladora }}</ion-note>
      <ion-label>
        <h1>{{ recicladoras.nombre }}</h1>
        <p>{{ recicladoras.ciudad }}, {{ recicladoras.barrio }}.</p>
        <p>{{ recicladoras.calle }}.</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
