<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recicladoras</ion-title>
    <ion-progress-bar *ngIf="cargandoRecicladoras" type="indeterminate" color="secondary"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let recicladoras of listaRecicladoras ">
      <ion-label>
        <h1>{{ recicladoras.nombre }}</h1>
        <p>{{ recicladoras.ciudad }}, {{ recicladoras.barrio }}.</p>
        <p>{{ recicladoras.calle }}.</p>
        <div class="boton-ionic">
          <ion-button href="{{recicladoras.gps}}">
            <ion-icon name="arrow-redo-outline" slot="end"></ion-icon>
            Ver en Google Maps
          </ion-button>
        </div>
      </ion-label>
           
    </ion-item>
  </ion-list>

</ion-content>
