<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recicladoras</ion-title>
    <ion-progress-bar *ngIf="cargandoRecicladoras" type="indeterminate" color="secondary"></ion-progress-bar>
    <ion-button routerLink="/inicio" fill="clear" id="inicio" slot="end">
      <ion-icon name="home-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>   

  <ion-list>

    <ion-item *ngFor="let recicladora of listaRecicladoras" class="item-espaciado">
      <ion-label>
        <h1>{{ recicladora.nombre_rec }}</h1>
        <p>{{ recicladora.ciudad }}. {{ recicladora.barrio }}</p>
        <p>{{ recicladora.calle }}</p>
        <p>¿Ofrece remuneración?: {{ recicladora.paga }}</p>
        <p>Materiales: </p>
        <div class="boton-ionic">
          <ion-button href="{{ recicladora.gps }}">
            <ion-icon name="arrow-redo-outline" slot="end"></ion-icon>
            Google Maps
          </ion-button>
        </div>
      </ion-label>
           
    </ion-item>
  
  </ion-list>
  
</ion-content>

