#container {
  text-align:center;

  position:relative;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 50px;
  line-height: 60px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{
  --ion-background-color:#8ae2cc;
}

#center{
  text-align:center;
  padding-top: 80px;
}