<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ECOMAPS</ion-title>
    <ion-progress-bar *ngIf="cargandoMateriales" type="indeterminate" color="secondary"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >
  <ion-refresher slot="fixed" (ionRefresh)="cargarMateriales()">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> 
  <div id="container">
    <strong>Seleccione el material que quiera destinar</strong>
    <ion-list lines="none">
      <ion-item *ngFor="let material of listaMateriales ">
        <ion-checkbox slot="start"
        [(ngModel)]="materialesSeleccionados[material.idmaterial]"
        (ngModelChange)="seleccionMaterial()">
      </ion-checkbox>
        <ion-label>{{ material.material }}</ion-label>
      </ion-item>
    </ion-list>
  
    <ion-button color="warning" *ngIf="mostrarBoton" (click)="mostrar()">Mostrar</ion-button>
    <ion-button color="warning" *ngIf="mostrarBoton" (click)="resetear()" type="reset">Cancelar</ion-button>

  </div>

</ion-content>