#container {
    text-align: center;
  
    position:relative;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
ion-checkbox {
    --size: 20px;
    --background-checked:#69BB7B;
  }
  
  ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid #69bb7b;
  }
  