<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ECOMAPS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

  <div id="container">
    <strong>Seleccione el material que quiera reciclar</strong>
    <ion-list lines="none">
      <ion-item *ngFor="let material of listaMateriales ">
        <ion-checkbox slot="start"
        [(ngModel)]="materialesSeleccionados[material.idmaterial]"
        (ngModelChange)="seleccionMaterial()">
      </ion-checkbox>
        <ion-label>{{ material.material }}</ion-label>
      </ion-item>
    </ion-list>
   <ion-button *ngIf="mostrarBoton" (click)="mostrar()">Mostrar</ion-button>
   <ion-button *ngIf="mostrarBoton" (click)="resetear()" type="reset">Cancelar</ion-button>
  </div>

</ion-content>