#container {
    text-align: center;    
  }
  
  #container strong {
    font-size: 25px;
    line-height: 36px;
    color: white;
    //text-shadow: 2px 2px 2px rgb(24, 23, 23);
  }
  
  #container p {
    font-size: 30px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
    text-decoration:line-through;
    font-size:x-large;
  }
ion-checkbox {
    --size: 20px;
    --background-checked:orange;
  }
  
ion-checkbox::part(container) {
    border-radius: 6px;
    border: 2px solid orchid;
}
#boton-ionic{
  text-align:center;
}
ion-button{
  --background:orchid;
  --color: black;
  
}
ion-content {
  --background:#8ae2cc;
  --color: orchid;
  
}
/*ion-toolbar{
  --background:rgba(0, 172, 134, 0.836);
  --border-color:rgb(255, 0, 0);
  --color: white;
  --font-family:
}
ion-list{
  --background:#8ae2cc;
}
ion-item{
  --background:#8ae2cc;
}*/
