<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ECOMAPS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

  <div id="container">

    <h5>SELECCIONE EL MATERIAL QUE QUIERA RECICLAR</h5>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Papel</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Cartón</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Plástico</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Pilas o baterías</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Hule</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Latitas</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Aluminio</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Cobre</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Bronce</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Neumáticos</ion-label>
    </ion-item>

    <ion-item>
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Hierro</ion-label>
    </ion-item>

    <ion-button>BUSCAR</ion-button>

  </div>
</ion-content>